body{
    background-color: #27292D;

}

body::-webkit-scrollbar{
width: 12px;
/* border-radius: 10px; */
/* background-color: rgb(3, 37, 231); */
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(173, 173, 173);
    border-radius: 6px;

}

.loader_div{
    margin-top: 40px;
}

.principal{
    /* background-image: url(../18110.jpg); */
    /* background-color: rgb(253, 236, 77); */
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    -webkit-scrollbar-track-piece-color: red;
}

.grid{
    display: grid;
    margin: 50px 90px;
    -ms-grid-column-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr ;
    height: -500px;
    grid-gap: 20px;
}

.header{
    background-color: black;
    background-image: url(../a1379c5129e4f9ecdda6760e6d9f68e2.jpg);
    border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
    
}

.pokemon{
position: relative;
direction: c;
align-self: center;
margin: 20px;
left: 20px;
margin-left: 50px;
/* align-content: center; */
}

.botonheader{
    background-color: rgb(253, 231, 33);
    border-radius: 5px;
    border-width: thin;
    margin: 20px;
    padding:8px;
    font-family:monospace;
    cursor: pointer;

    
}

.botonheader:hover{
    box-shadow: 0 12px 16px rgba(243, 243, 243, 0.2);
    transform: scale(1.1);
}

.botonfilter{
    background-color: rgb(14, 13, 13);
    outline-color: rgb(253, 231, 33);
    color:rgb(253, 231, 33);
    border-radius: 5px;
    border-width: thin;
    margin: 20px;
    padding:8px;
    font-family:monospace; 
    cursor: pointer;

}

.botonfilter:hover{
box-shadow: 0 12px 16px rgba(243, 243, 243, 0.2);
}

.play{
 margin: 20px;
 display: relative;
 right: 0px;    
}
.play:hover{
    /* box-shadow: 0 12px 16px rgba(243, 243, 243, 0.2); */
    transform: scale(1.1);
}

.btnName{
    text-decoration: none;
}

.paginado{
    margin: 30px 0px;
    /* margin-left: 80px; */
}